<form class="border rounded bg-white form-login" action="/login_end_time" method="post">
      <h1 class=" h3 my-3">退勤打刻ページ</h1>
      <div class=" btn btn-secondary   rounded-pill">
        <span id="view_clock" name="#"></span>
       </div>
       <%# 日付変えたい時用のダミー %>
       <%# <input type="date" name="date"> %>
      <div class="form-group pt-3">
          <input type="text" class="form-control rounded-pill" name="user_no"  placeholder="社員番号">
      </div>
      <div class="form-group">
          <input type="password" class="form-control rounded-pill"  name="password" placeholder="パスワード">
      </div>
      <div class="form-group">
    <textarea name="end_comment" class="form-control rounded-" placeholder="今日の振り返り（任意）"></textarea>
          <%# <input type="text" class="form-control rounded-pill" name="end_comment" placeholder="今日の振り返り（任意）"> %>
      </div>
      <button type="submit" class="btn btn-outline-danger rounded-pill px-5 my-4" id="alret-btn" >登録</button>
    </form>
      <a class="#" href="/index"><button type="submit" class="btn btn-outline-secondary   rounded-pill px-3 my-4 ">トップページ</button></a>
