
<form class="pt-5" action="/random" method="post">
    <div class="d-flex justify-content-center ">
          <input type="text" class=" form-control rounded-pill py-4 my-2" style="max-width: 200px;"   name="comment"  placeholder="コメントする">
          <input type="submit" class="btn btn-outline-primary  rounded-pill px-3 mx-2 mt-2"  value="つぶやく">
      </div>
          <%# <input type="text" class="rounded-pill p-3" style="max-width: 200px;"  name="user_no"  placeholder="社員名の検索"> %>
</form>

  <a class="#" href="/index"><button type="submit" class="btn btn-outline-secondary rounded-pill px-3 my-4"id="alret-btn">トップページ</button></a>

